<!DOCTYPE html>
{% load staticfiles %}

{# DAFQ IS DIS? { load FinishOnTime_template_tags } #}

<html>
	<head>
		<style>
			p {font-family:sans-serif;}
			h1 {font-family:sans-serif;}
			h2 {font-family:sans-serif;}
			a {font-family:sans-serif;}
		</style>
		<title>
			FinishOnTime - 
			{% block title_block %}
				Index
			{% endblock %}
		</title>
	</head>
	<body>
		{% block sidebar_block %}
		<div style="height:50px;">
			<div style="float:left; width:40%;">
				<a href="{% url 'index' %}">Index</a>
				<a href="{% url 'about' %}">About</a>
			{% if user.is_authenticated %}
				<a href="{% url 'library' %}">Library</a>
				<a href="{% url 'add' %}">Add</a>
			{% endif %}
			</div>
			<div style="text-align:center; width:20%; float:left; font-size:20px;">FinishOnTime</div>
			<div style="float:right; text-align:right; width:40%;">
				{% if user.is_authenticated %}
					<a href="{% url 'auth_logout' %}">Logout</a>
					<a href="{% url 'auth_password_change' %}">Change Password</a>
				{% else %}
					<a href="{% url 'auth_login' %}">Login</a>
					<a href="{% url 'registration_register' %}">Register</a>
				{% endif %}	
			</div>
		</div>
		{% endblock %}
		<div style="text-align:center;">
			{% block body_block %}
			
			{% endblock %}
		</div>
	</body>
</html>
